pandas==1.1.5
joblib==1.1.1
scipy==1.5.4
pycm==3.8
openpyxl==3.1.2
numpy==1.19.5
matplotlib==3.3.4
opencv-python==4.0.0.21
torch==1.7.0+cu101
pillow==8.4.0
torchvision==0.8.1+cu101
pycocotools==2.0.6
tqdm==4.41.1
torchnet==0.0.4
sklearn==0.0.post7
joblib==1.2.0
scikit-learn==1.2.2
selenium==4.11.2
